{% extends "templates_base/layout.html" %}

{% block title %} Detalle del Pago {% endblock %}
{% block navbar%}
    {% include "templates_base/navbar.html" %}
{% endblock %}
{% block content %}
    <h2>Detalle del Pago</h2>
    <div class="card">
        <div class="card-body">
            {% if employee %}
                <p class="card-text"><strong>Beneficiario:</strong> {{ employee.name }} {{ employee.last_name }} DNI: {{ employee.dni }}</p>
            {% endif %}
            <p class="card-text"><strong>Monto:</strong>$ {{ payment.amount }} </p>
            <p class="card-text"><strong>Fecha de Pago:</strong> {{ payment.payment_date.strftime('%d-%m-%Y') }}</p>
            <p class="card-text"><strong>Tipo de Pago:</strong> {{ payment.payment_type }}</p>
            <p class="card-text"><strong>Descripción:</strong> {{ payment.description or 'Sin descripción' }}</p>
            <input type="hidden" name="payment_id" value="{{ payment.id }}">
            <div class="row" style="justify-content: center">
                <div class="col text-center">
                    <a class="btn btn-warning" href="{{ url_for('payments.edit_payment', payment_id=payment.id) }}">Editar Pago</a>
                    
                   
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block volver %}
    <br>
    <a class="btn btn-danger" href="{{ url_for('payments.dashboard') }}" >◄ Volver</a>
    
{% endblock %}