{% extends "templates_base/layout.html" %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='error.css') }}">
{% endblock %}
{% block title %} {{ error.message }} {% endblock %}

{% block content %}
    
    <div class="error-container">
        <div class="col-md-12">
            <h1 class="error-code">{{ error.code }}</h1>
            <p class="error-message">{{ error.message }}</p>
            <p class="error-description">{{ error.description }}</p>
            <a href="{{ url_for('auth.home') }}" class="back-button">Regresar al inicio</a>
        </div>
    </div>
{% endblock %}
