.flash-message {
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
}


.flash-success {
    background-color: lime;
    color: black; 
    border: 1px solid lime;
    
}

.flash-error {
    background-color: lightcoral;
    color: black;
    border: 1px solid red;
}

.flash-warning {
    background-color: yellow;
    color: black;
    border: 1px solid black;
}


.flash-info {
    background-color: lightblue;
    color: black;
    border: 1px solid lightblue;
}
