<form id="datos_discapacidad_jinete" action="{{ action_datos_discapacidad }}" method="POST">
    <!-- Pregunta sobre Certificado de Discapacidad -->
    <p class="text-muted">* Todos los campos con un (*) son obligatorios</p>
    <div class="row">
        <h3 class="text-center">Datos sobre discapacidad</h3>
        <div class="col-md-12 text-center">
            <label>¿Posee Certificado de Discapacidad? (*)</label>
            <!--Opcion si-->
                <div class="custom_radio">
                    <label>
                        <input type="radio" id="disability_no" name="has_disability" value="no" 
                        {% if params.get('has_disability', '')=='no' %}checked{% endif %}
                        required onchange="toggleDisabilityDetails(false, true)">
                        <span>No</span>
                    </label>
                    <label>
                        <input type="radio" id="disability_yes" name="has_disability" value="yes" 
                        {% if params.get('has_disability', '')=='yes' %}checked{% endif %} 
                        required onchange="toggleDisabilityDetails(true, true)">
                        <span>Si</span>
                    </label>
                </div>
        </div>
         
    </div>
    <div class="row">     
        <div class="col-md-12">
            <!-- Diagnóstico desplegable -->
            <div class="row">
                <div class="col-md-12" id="disability_details" style="display: {% if params.get('has_disability', '')=='yes' %} block {% else %} none {% endif %}">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="diagnosis">¿Con qué diagnóstico? (*)</label>
                            <select id="diagnosis" name="diagnosis" class="form-control" onchange="toggleOtherDiagnosis(this.value)">
                                <option value="">Seleccione una opción</option>
                                {% set diagnoses = [
                                    "ECNE", "Lesión post-traumática", "Mielomeningocele", 
                                    "Esclerosis Múltiple", "Escoliosis Leve", "Secuelas de ACV",
                                    "Discapacidad Intelectual", "Trastorno del Espectro Autista","Trastorno del Aprendizaje", 
                                    "TDAH", "Trastorno de la Comunicación", "Trastorno de Ansiedad",                   
                                    "Síndrome de Down", "Retraso Madurativo", "Psicosis", 
                                    "Trastorno de Conducta", "Trastornos del ánimo y afectivos", "Trastorno Alimentario",
                                    "OTRO"
                                ] %}
                                {% for d in diagnoses %}
                                    <option value="{{ d }}" 
                                        {% if params.get('diagnosis') == d %}selected{% endif %}>
                                            {{ d }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Campo para "OTRO" diagnóstico -->
                <div class="col-md-12" id="otro_diagnosis_div" style="display: {% if params.get('diagnosis', '') == 'OTRO' %}block{% else %}none{% endif %}">
                    <label for="other_diagnosis_input">Si es OTRO, indicar cuál: (*)</label>
                    
                    <input type="text" id="other_diagnosis_input" name="other_diagnosis" class="form-control"
                            value="{{ params.get('other_diagnosis', '') if params.get('other_diagnosis') != None else ''}}"
                            maxlength="100"
                            pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s.,'-]{1,100}$"
                            title="El diagnóstico debe contener solo letras, espacios y los caracteres . , ' - . Máximo 100 caracteres."/>
                    
                </div>
            </div>
            <!--Tipo de discapacidad -->
           
            <div class="row" id="disabilityTypeDiv" style="display: {% if params.get('has_disability', '')=='no' %}block{% else %}none{% endif %};">
                <div class="col-md-12">
                    <div class="row mb-3">
                        <label class="form-label">Tipo de Discapacidad: (*)</label>
                    </div>

                    <!-- Fila con opciones alineadas horizontalmente -->
                    <div class="row">

                        <!-- Opción Mental -->
                        <div class="col-6 col-md-3 mb-2 d-flex align-items-center" style="justify-content: center;">
                            <input class="form-check-input me-2" type="checkbox" id="mental" name="disability_type" value="Mental" 
                                {% if params['mental'] %} checked {% endif %}>
                            <label class="form-check-label" for="mental">Mental</label>
                        </div>

                        <!-- Opción Motora -->
                        <div class="col-6 col-md-3 mb-2 d-flex align-items-center"  style="justify-content: center;">
                            <input class="form-check-input me-2" type="checkbox" id="motora" name="disability_type" value="Motora" 
                            {% if params['motora'] %} checked {% endif %}>
                            <label class="form-check-label" for="motora">Motora</label>
                        </div>

                        <!-- Opción Sensorial -->
                        <div class="col-6 col-md-3 mb-2 d-flex align-items-center"  style="justify-content: center;">
                            <input class="form-check-input me-2" type="checkbox" id="sensorial" name="disability_type" value="Sensorial" 
                            {% if params['sensorial'] %} checked {% endif %}>
                            <label class="form-check-label" for="sensorial">Sensorial</label>
                        </div>

                        <!-- Opción Visceral -->
                        <div class="col-6 col-md-3 mb-2 d-flex align-items-center" style="justify-content: center;">
                            <input class="form-check-input me-2" type="checkbox" id="visceral" name="disability_type" value="Visceral" 
                            {% if params['visceral'] %} checked {% endif %}>
                            <label class="form-check-label" for="visceral">Visceral</label>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
   
    <!-- Pensiones -->
    <div class="row" style="margin: 1%;">
        <h3 class="text-center">Datos sobre beneficios sociales</h3>
        <div class="col-md-12 text-center" >
            <label>¿Percibe alguna Asignación Familiar? (*)</label>
            <div class="custom_radio">
                <label>
                    <input type="radio" id="asignacion_familiar_yes" name="asignacion_familiar" value="no" 
                       required onchange="toggleFamiliarPension(false)" 
                       {% if params.get("asignacion_familiar", "") == "no" %}checked{% endif %}>
                    <span>No</span>
                </label>
                <label>
                    <input class="form-check-input" type="radio" id="asignacion_familiar_no" name="asignacion_familiar" value="yes" 
                       required onchange="toggleFamiliarPension(true)" 
                       {% if params.get("asignacion_familiar", "") == "yes" %}checked{% endif %}>
                    <span>Sí</span>
                </label>

            </div>
        </div>
       
        <div id="asignacionFamiliarOptions" class="mt-3" style="display: {% if params.get('asignacion_familiar', '') == 'yes'%} block {% else %} none {% endif %}">
            <div class="row text-center">
                <label>¿Cuál asignación familiar percibe? (*)</label>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="asignacion_por_hijo" 
                               name="beneficios_sociales" 
                               value="asignacion_por_hijo" 
                               {% if params.get("asignacion_por_hijo", False) %} checked {% endif %}>
                        <label class="form-check-label" for="asignacion_por_hijo">Asignación Universal por Hijo</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="asignacion_por_hijo_con_discapacidad" 
                            name="beneficios_sociales" 
                            value="asignacion_por_hijo_con_discapacidad" 
                            {% if params.get('asignacion_por_hijo_con_discapacidad', False) %} checked {% endif %}>
                        <label class="form-check-label" for="asignacion_por_hijo_con_discapacidad">Asignación Universal por hijo con Discapacidad</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="asignacion_por_ayuda_escolar" 
                               name="beneficios_sociales" 
                               value="asignacion_por_ayuda_escolar" 
                               {% if params.get('asignacion_por_ayuda_escolar', False) %} checked {% endif %}>
                        <label class="form-check-label" for="asignacion_por_ayuda_escolar">Asignación por ayuda escolar anual</label>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
    <!-- Beneficiario de alguna pensión -->
    <div class="row">
        <div class="col-md-12 text-center">
            <label>¿Es beneficiario de alguna pensión? (*)</label>
            <div class="custom_radio">
                <label>
                    <input class="form-check-input" type="radio" id="pension_no" name="has_pension" value="no" 
                    required onchange="togglePensionType(false)" 
                    {% if params.get("has_pension", "") == "no" %} checked {% endif %}>
                    <span>No</span>
                </label>
    
                <label>
                    <input class="form-check-input" type="radio" id="pension_yes" name="has_pension" value="yes" 
                    required onchange="togglePensionType(true)" 
                    {% if params.get("has_pension", "") == "yes" %} checked {% endif %}>
                    <span>Si</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" id="pensionOptions" style="display: {% if params.get('has_pension', '')== 'yes' %} block {% else %} none {% endif %};">
            
            <label class="form-label">¿Cuál pensión? (*)</label>
            <div class="custom_radio">
                <label>
                    <input type="radio" id="pension_nacional" name="pension_type" 
                       value="Nacional" 
                       {% if params.get("pension_type", "") == 'Nacional' %}checked{% endif %}>
                       <span>Nacional</span>
                </label>
                <label>
                    <input class="form-check-input" type="radio" id="pension_provincial" name="pension_type" 
                       value="Provincial" 
                       {% if params.get("pension_type", "") == 'Provincial' %}checked{% endif %}>
                       <span>Provincial</span>
                </label>
            </div>
            
        </div>
    </div>
   
        
        
    
   
    {% if check_permission('rider_create') or check_permission('rider_update') %}

        <div class="row">
            <div class="col-md-12 text-end">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelRegistry">Cancelar</button>
            
                <button id="submit" type="submit" value="Guardar" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    {% endif %}
    

    
</form>

<script src="{{ url_for('static', filename='scripts/disability.js') }}"></script>
