{% extends "templates_base/layout.html" %}

{% block title %} Listado de Jinetes y Amazonas {% endblock %}

{% block navbar%}
    {% include "templates_base/navbar.html" %}
{% endblock %}

{% block content %}
<h2>Panel de búsqueda de usuarios pendientes de aceptación</h2>
<form id="filtros" method="get" action="{{ url_for('pending_users.index') }}" class="responsive-form">
    <!-- Primera fila -->
    <div>
        <!-- Email -->
        <div>
            <label for="input_name" class="form-label">Email</label>
            <input type="text" class="form-control" id="input_email" name="email" placeholder="Ingrese un email"
                value="{{ params.get('email', '') }}">
        </div>
        <div>
            <label for="order" class="form-label">Seleccione un orden</label>
            <select name="order" id="order" class="form-select">
                <option value="">--Orden--</option>
                <option value="emailA-Z" {% if params.get('order', '')=='emailA-Z' %}selected{% endif %}>Email A-Z</option>
                <option value="emailZ-A" {% if params.get('order', '')=='emailZ-A' %}selected{% endif %}>Email Z-A</option>
                <option value="newer" {% if params.get('order', '')=='newer' %}selected{% endif %}>Más recientes</option>
                <option value="older" {% if params.get('order', '')=='older' %}selected{% endif %}>Más antiguos</option>
            </select>
        </div>
        
    </div>
    <hr>
    <!-- Botones -->
    <div class="row">
        <div class="col">
            <div class="text-end">
                <a href="{{ url_for('pending_users.index') }}" class="btn btn-secondary">Limpiar filtros</a>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
    </div>
</form>


    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for pending_user in pending_user_paginated.items %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ pending_user.email }}</h5>
                    <p class="card-text">Registrado el : {{ pending_user.registered_date() }}</p>
                    
                    <div class="d-flex justify-content-center" style="gap: 3px;">
                        <a href="{{ url_for('pending_users.show_accept_user', user_id=pending_user.id) }}" class="btn btn-success">Aceptar</a>
                        
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-pending-user-id="{{ pending_user.id }}">
                            Dar de baja
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        {% endfor %}
    </div>

    {% if pending_user_paginated.items|length == 0 %}
    <div class="col-12 text-center my-4">
        <div class="alert alert-warning py-4">
            <h5>No se encontraron resultados</h5>
            <p class="mb-0">No se encontraron usuarios con aceptación en estado pendiente</p>
        </div>
    </div>
    {% endif %}
    
    {% if pending_user_paginated.items|length != 0 %}
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if pending_user_paginated.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ prev_page }}" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                <li class="page-item disabled"><a class="page-link" href="#">Página {{ pending_user_paginated.page }} de {{
                    pending_user_paginated.pages }}</a></li>
                {% if pending_user_paginated.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ next_page }}"  aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    <!-- Modal de confirmación -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmación de Baja</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas rechazar a este usuario? Esta acción es <strong>irreversible</strong>.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <!-- Formulario con el campo oculto para enviar el ID del jinete -->
                    <form action="{{ url_for('pending_users.delete_pending_user') }}" method="POST" style="display: inline;">
                        <input type="hidden" name="pending_user_id" id="modalPendingUserId">
                        <button type="submit" class="btn btn-danger">Dar de baja</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




<script>
    // Captura el evento de apertura del modal y actualiza el pending_user_id
    document.addEventListener('DOMContentLoaded', function () {
        var confirmDeleteModal = document.getElementById('confirmDeleteModal');
        confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
            // Botón que disparó el modal
            var button = event.relatedTarget;
            
            var pendingUserId = button.getAttribute('data-pending-user-id');
            // Actualiza el campo oculto con el ID del usuario
            var modalPendingUserIdInput = document.getElementById('modalPendingUserId');
            modalPendingUserIdInput.value = pendingUserId;
        });
    });
</script>


{% endblock %}
{% block volver %}
<br>
    <a class="btn btn-danger" href="{{ url_for('auth.home') }}" >◄ Volver</a>
{% endblock %}